<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="components/designer-tab.html">
<link rel="import" href="components/designer-tabs.html">
<link rel="import" href="components/tree-view.html">
<link rel="import" href="element-view/element-view.html">
<link rel="import" href="palette/palette-view.html">
<link rel="import" href="canvas/canvas-view.html">
<link rel="import" href="canvas/canvas-controls.html">
<link rel="import" href="action-history.html">
<link rel="import" href="app-controls.html">

<dom-module id="the-app">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment">
       :host {
        display: block;
        box-sizing: border-box;
        position: relative;
        --canvas-background: white;
        --almost-black: #141720;
        --dark-grey: #232733;
        --medium-grey: #2f3545;
        --light-grey: #383f52;
        --highlight-pink: #e91e63;
        --highlight-blue: #2196f3;
        --input-border-color: #596c7a;
      }

      #shell {
        height: 100vh;
        overflow: hidden;
      }

      #toolbar {
        padding: 0 16px;
        background-color: var(--almost-black);
        color: white;
        height: 60px;
        font-size: 20px;
      }

      .heavy {
        font-weight: 900;
        letter-spacing: 2px;
      }

      .lite {
        font-weight: 100;
        opacity: 0.5;
        letter-spacing: normal;
      }

      button {
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
      }

      button[disabled] {
        pointer-events: none;
        opacity: 0.3;
      }

      .drawer {
        min-width: 270px;
        width: 270px;
        height: 100%;
        overflow: hidden;
        background: var(--medium-grey);
        color: white;
        display: flex;
        flex-direction: column;
      }

      .grid {
        background-color: var(--canvas-background);
        /* 10px grid, using http://www.patternify.com/ */
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkYGBIY2BgmMVAADASUgCTH1WIN6SIDh4AnhABC01te2MAAAAASUVORK5CYII=);
        background-position: 0px 0px;
      }

      .gridPanel {
        background: var(--dark-grey);
        white-space: nowrap;
        padding: 0;
        color: white;
      }

      .gridPanel label {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.5;
        margin-right: 5px;
      }

      paper-toggle-button {
        --paper-toggle-button-checked-bar-color: #4caf50;
        --paper-toggle-button-checked-button-color: #4caf50;
        --paper-toggle-button-checked-ink-color: #4caf50;
        --paper-toggle-button-unchecked-bar-color: #c73e65;
        --paper-toggle-button-unchecked-button-color: #c73e65;
        --paper-toggle-button-unchecked-ink-color: #c73e65;
      }

      designer-tab.single {
        color: white;
        background: var(--dark-grey);
        width: 100%;
        height: 41px;
        margin: 0;
        padding: 0;
        border: none;
      }

      iron-pages {
        height: 100%;
        overflow: auto;
        position: relative;
      }

      tree-view {
        overflow: auto;
      }

      .logo {
        display: block;
        height: 44px;
        width: auto;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: -5px;
      }

      a,
      a:visited,
      a:hover {
        outline: none;
        text-decoration: none;
        cursor: pointer;
        color: inherit !important;
      }

      #mobilePanel {
        display: none;
        background: var(--medium-grey);
        color: white;
        padding: 20px;
      }

      #mobilePanel h2 {
        font-weight: 400;
      }

      #mobilePanel a {
        background: var(--highlight-pink);
        color: white !important;
        display: inline-block;
        padding: 5px 6px;
        border-radius: 3px;
      }

      @media (max-width: 800px) {
        #mainPanel {
          display: none;
        }
        #appControls {
          display: none;
        }
        #mobilePanel {
          display: initial;
        }
      }
    </style>
    <action-history id="actionHistory"></action-history>
    <div id="shell" class="vertical layout">
      <div id="toolbar" class="horizontal layout center">
        <a href="https://github.com/wiredjs/designer" target="_blank"><img class="logo" src$="[[importPath]]../images/logo100.png"></a>
        <span class="heavy flex">
            <a href="https://designer.downey.net" target="_blank">Downey.net Designer<span class="lite"> // beta</span></a>
        </span>
        <app-controls id="appControls"></app-controls>
      </div>
      <div id="mainPanel" class="flex horizontal layout">
        <div id="ldrawer" class="drawer">
          <designer-tab class="single"><button>Components</button></designer-tab>
          <canvas-controls id="canvasControls"></canvas-controls>
          <tree-view name="tree" id="treeView"></tree-view>
        </div>
        <div id="mainView" class="flex vertical layout">
          <div class="horizontal layout" style="box-sizing: border-box;">
            <designer-tabs attr-for-selected="name" selected="{{mainPage}}" class="flex" style="width: auto;">
              <designer-tab name="designer">
                <button>Designer</button>
              </designer-tab>
            </designer-tabs>
            <div class="gridPanel horizontal layout center">
              <label>Show grid</label>
              <paper-toggle-button id="gridToggle" on-change="_onGridToggle"></paper-toggle-button>
            </div>
          </div>
          <iron-pages class="flex" selected="[[mainPage]]" attr-for-selected="name" selected-attribute="visible">
            <canvas-view name="designer" id="viewContainer" style="height:100%"></canvas-view>
          </iron-pages>
        </div>
        <div class="drawer">
          <element-view id="elementView"></element-view>
          <palette-view id="paletteView"></palette-view>
        </div>
      </div>
      <div id="mobilePanel" class="flex">
        <h2>Downey.net Designer is a desktop only app. Sorry :(</h2>
        <p>
          It's a mockups and wireframing tool built using web components, and is open source.
        </p>
        <p>
          <a href="https://github.com/wiredjs/designer">Source Code</a>
        </p>
      </div>
    </div>
  </template>

  <script>
    class TheApp extends Polymer.Element {
      static get is() { return 'the-app'; }
      static get properties() {
        return {
          activeElement: {
            type: Object
          },
          mainPage: {
            type: String,
            value: 'designer'
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.setActiveElement(this.$.viewContainer);
        this._loadGridState()

        this.refreshView();

        this.$.canvasControls.actionHistory = this.$.actionHistory;
        this.$.canvasControls.canvasElement = this.$.viewContainer;
        this.$.appControls.actionHistory = this.$.actionHistory;
        this.$.viewContainer.actionHistory = this.$.actionHistory;

        this.addEventListener('new-element', event => this.createElement(event));
        this.addEventListener('element-updated', event => this.updateElement(event));

        this.addEventListener('refresh-view', event => this.refreshView(event));
        this.addEventListener('selected-element-changed', event => {
          this.setActiveElement(event.detail.target);
        });
        this.addEventListener('finish-clone', event => {
          this._finishCloneElement(event.detail.target);
        });
        this.addEventListener('update-action-buttons', event => {
          this.$.appControls.update(event.detail.undos, event.detail.redos);
        });

        this.addEventListener('remove-from-canvas', event => {
          const parent = event.detail.parent;
          const node = event.detail.target;
          if (parent === this.$.viewContainer) {
            this.$.viewContainer.remove(node);
          } else {
            parent.removeChild(node);
          }
          parent.click();
        });
        this.addEventListener('add-to-canvas', event => {
          const parent = event.detail.parent;
          const node = event.detail.target;
          if (parent === this.$.viewContainer) {
            this.$.viewContainer.add(node);
          } else {
            parent.appendChild(node);
          }
          node.click();
        });
        this.addEventListener('move', event => {
          this.$.canvasControls.move(event.detail.type, event.detail.skipHistory);
        });
      }

      setActiveElement(el) {
        if (el === this) {
          el = this.$.viewContainer;
        }
        if (this.activeElement) {
          this.activeElement.classList.remove('active');
          this.activeElement.classList.remove('active-resizable');
        }
        el.classList.add('active');
        if (el.getAttribute("data-noresize") != "true") {
          el.classList.add('active-resizable');
        }
        // Tell everyone who cares about this.
        this.$.canvasControls.selectedElement =
          this.$.viewContainer.selectedElement = this.activeElement = el;
        this.$.canvasControls.selectedElement = this.activeElement;
        this.$.canvasControls.update(this.activeElement === this.$.viewContainer);
      }

      createElement(event) {
        let tag = event.detail.name.toLowerCase();
        let el = document.createElement(tag);
        this.$.viewContainer.add(el);
        // If we haven't before, save this initial state of a <tag> element,
        // so that we can diff it to produce the actual state of the world
        // codeView.save(tag, event.detail.package, el);
        this.$.actionHistory.add('new', el, { parent: el.parentNode });
        this._finishNewElement2(el, event.detail);
        // You need the item to render first.
        requestAnimationFrame(function () {
          el.click();
        });
      }

      refreshView(event) {
        if (event && event.detail.whileTracking) {
          let size = this.activeElement.getBoundingClientRect();
          this.$.elementView.displayPosition(size.top, size.left);
          return;
        }
        let el = this.activeElement ? this.activeElement : this.$.viewContainer;
        // Display its properties in the side view.
        this.$.elementView.display(el, this.$.paletteView.getElementInfo(el));
        // Highlight it in the tree.
        this.$.treeView.recomputeTree(this.$.viewContainer, el);
      }

      updateElement(event) {
        let detail = event.detail;
        let oldValue = this.updateActiveElementValues(detail.type, detail.name, detail.value, detail.isAttribute);
        if (this.activeElement) {
          rewire(this.activeElement);
        }
        if (detail.skipHistory) {
          return;
        }
        this.$.actionHistory.add('update', this.activeElement,
          {
            type: detail.type, name: detail.name,
            new: { value: detail.value },
            old: { value: oldValue }
          });
      }

      updateActiveElementValues(type, name, value, isAttribute) {
        let previousValue;
        if (type === 'style') {
          // If we switch to flexbox, automatically reposition the children
          if (name === 'display' && value === 'flex') {
            let children = this.activeElement.children;
            for (let i = 0; i < children.length; i++) {
              children[i].style.position = 'relative';
              children[i].style.top = children[i].style.left = 'auto';
            }
          }
          previousValue = this.activeElement.style[name];
          this.activeElement.style[name] = value;
        } else {
          previousValue = this.activeElement[name];
          // If this is a dom-repeat, don't set the items attribute, set a fake
          // items instead (so that it doesn't stamp).
          if (this.activeElement.localName === 'dom-repeat' && name === 'items') {
            this.activeElement.dataset['fakeItemsAttr'] = value;
          } else if (value === 'true') {
            this._setPropertyOrValue(name, true, isAttribute);
          } else if (value === 'false') {
            if (this.activeElement.hasAttribute(name)) {
              this.activeElement.removeAttribute(name);
            } else {
              this._setPropertyOrValue(name, false, isAttribute);
            }
          } else {
            this._setPropertyOrValue(name, value, isAttribute);
          }
        }
        this.$.treeView.recomputeTree(this.$.viewContainer, this.activeElement);
        return previousValue;
      }

      _setPropertyOrValue(name, value, isAttribute) {
        if (isAttribute) {
          this.activeElement.setAttribute(name, value);
        } else {
          this.activeElement[name] = value;
        }
      }

      _finishNewElement2(el, item) {
        if (item.properties && item.properties.length) {
          for (var i = 0; i < item.properties.length; i++) {
            el[item.properties[i].name] = item.properties[i].value
          }
        }
        el.style.boxSizing = 'border-box';
        el.style.position = 'absolute';
        el.style.left = el.style.top = '20px';
        if (item.styles && item.styles.length) {
          for (var i = 0; i < item.styles.length; i++) {
            el.style[item.styles[i].name] = item.styles[i].value
          }
        }
        if (item.textContent) {
          el.textContent = item.textContent;
        }
        if (item.disableSizing) {
          el.setAttribute("data-noresize", "true")
        }
      }

      _finishCloneElement(el) {
        el.style.boxSizing = 'border-box';
        el.style.position = 'absolute';
        el.style.left = el.style.top = '20px';
      }
      _makeUniqueId(node, id, suffix) {
        id = id.replace('-', '_');
        let uId = id + (suffix || '');
        return this.$.viewContainer.has('#' + uId) ?
          this._makeUniqueId(node, id, suffix ? ++suffix : 1) : uId;
      }

      _loadGridState() {
        var showGrid = true;
        if (localStorage) {
          if (localStorage.getItem("hideGrid") === "true") {
            showGrid = false;
          }
        }
        this.$.gridToggle.checked = showGrid;
        this.$.viewContainer.grid = showGrid;
      }

      _onGridToggle() {
        this.$.viewContainer.grid = this.$.gridToggle.checked;
        if (localStorage) {
          localStorage.setItem('hideGrid', this.$.gridToggle.checked ? "false" : "true");
        }
      }

    }

    window.customElements.define(TheApp.is, TheApp);
  </script>
</dom-module>